body {
  font-family: 'Quicksand', sans-serif;
}
.home-header {
  margin-top: -20px;
  background: url(../images/header_texture.jpg) no-repeat;
}
.title {
  padding-top: 50px;
  text-align: center;
  color: #4C402B;
  font-size: 60px;
}
.description {
  color: #E8A900;
  font-family: 'Great Vibes', cursive;
  font-size: 24px;
  margin: auto;
  text-align: center;
}
.swirl_left {
  background: url(../images/swirl_left.png) no-repeat left;
  padding: 0 0 0 50px;
}
.swirl_right {
  background: url(../images/swirl_right.png) no-repeat right;
  padding: 0 50px 0 0px;
}

.line {
  border-top: 3px solid rgb(154, 148, 148);
  border-bottom: 1px solid rgb(154, 148, 148);
  padding: 5px 0px 0px;
}
.story-title {
  font: italic normal 40px/1.3em georgia, palatino, 'book antiqua', 'palatino linotype', serif;
  color: rgb(119, 115, 115);
  text-align: center;
}
.divider-image {
  transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  -webkit-transform:rotate(270deg);
  margin-top: 164px;
  margin-left: -125px;
  height: 100%;
  width: 400px;
}
.left-column {
  text-align: right;
}
.right-column {
  text-align: left;
}